@model IEnumerable<TimeSheet.Models.Milestone>

@{
	ViewData["Title"] = "Milestone";
}

<div class="row">
	<h1 class="col-8">Non-Tech Milestones</h1>
	<div class="col-4 text-end">
		<button type="button" class="btn btn-primary col-6" onclick="Create()">
			Create
		</button>
	</div>
</div>
<table id="MilestoneTable" class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>
				Milestone
			</th>
			<th>
				Department
			</th>
			<th>
				Status
			</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Department.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Status)
				</td>

				<td>
					<button type="button" class="btn btn-outline-success" onclick="Edit(@item.Id, '@item.Name','@item.DepartmentId','@item.Status')"><i class="bi bi-pencil-square"></i> Edit</button> |
					<button type="button" class="btn btn-outline-danger" onclick="Delete(@item.Id)"><i class="bi bi-trash-fill"></i> Delete</button>
				</td>
			</tr>
		}
	</tbody>
</table>
<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="createModalLabel">Non-Tech Milestone</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form method="post">
				<input type="hidden" name="Id" id="Id" />
				<div class="modal-body">
					<div class="mb-3">
						<label for="Name" class="form-label">Milestone Name</label>
						<input type="text" class="form-control" id="Name" name="Name" required placeholder="Enter Milestone Name" />
					</div>
					<div class="mb-3">
						<label for="DepartmentId" class="form-label">Department</label>
						<select id="DepartmentId" name="DepartmentId" class="form-select" required>
							<option value="" selected disabled>--Select Department--</option>
							@foreach (var department in ViewBag.Departments)
							{
								<option value="@department.Id">@department.Name</option>
							}
						</select>
					</div>
					<div class="mb-3">
						<label for="Status" class="form-label">Status</label>
						<select id="Status" name="Status" class="form-select" required>
							<option value="Active" selected>Active</option>
							<option value="Inactive">Inactive</option>
						</select>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>


@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
	<script>
		$("#MilestoneTable").DataTable({"pageLength": 25,"order": [[2, "asc"],[0,"asc"]]});
		function Create() {
			$("#Id").val(0);
			$("#Name").val("");
			$("#DepartmentId").val("");
			$("#Status").val("");
			$("#createModal").modal("show");
		}
		function Edit(id, name, departmentId, status) {
			$("#Id").val(id);
			$("#Name").val(name);
			$("#DepartmentId").val(departmentId);
			$("#Status").val(status);
			$("#createModal").modal("show");
		}
		function Delete(id){
			Swal.fire({
			  title: "Are you sure?",
			  text: "You won't be able to revert this!",
			  icon: "warning",
			  showCancelButton: true,
			  confirmButtonColor: "#3085d6",
			  cancelButtonColor: "#d33",
			  confirmButtonText: "Yes, delete it!"
			}).then((result) => {
			  if (result.isConfirmed) {
				  $.ajax({
					url: '/Admin/DeleteMilestone/' + id,
					type: 'POST',
					success: function (result) {
						window.location.reload();
					}
				});
			  }
			});
		}
	</script>
}